body {
  background-color: black;
  font-size: 22px;
  opacity: 0.9;
  font-family: Helvetica;
  color: seashell;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 75px;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid seashell;
  align-items: center;
  bottom: 0px;
  justify-content: space-between;
  background-color: black;
}

.header img {
  text-align: left;
  height: 50px;
  width: auto;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

nav a {
  color: seashell;
  font-family: Helvetica;
}

nav li {
  display: inline-flex;
  align-items: center;
}

.background {
  padding-top: 70px;
  width: 1200px;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#mission {
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  padding-top: 70px;
  margin-bottom: 50px;
}

#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}

img {
  height: 200px;
  width:300px;
}

#top-images {
  width: 1000px;
  margin-bottom: 10px;
}

#berry {
  margin-right: 20px;
}

#donut {
  margin-left: 20px;
}

#top-descriptions h4 {
  display: inline-block;
  width: 300px;
  text-align: center;
  margin: auto;
  padding: 10px 0px;
}

#bottom-images {
  margin: 10px 0px;
}

#myrtle {
  margin-right: 20px;
}

#bottom-descriptions h4 {
  display: inline-block;
  width: 300px;
  text-align: center;
  margin: auto;
  padding: 10px 0px;
}

#location {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  padding-bottom: 15px;
  height: 500px;
  padding-top: 40px;
  }

#box1 {
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
  margin-right: 40px;
  align-items: center;
}

#box2 {
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
  margin-right: 40px;
}

#box3 {
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
}

p {
  padding-top: 20px;
}

.footer {
  height: 200px;
}

#copyright {
  text-align: left;
  margin-left: 20px;
}
